services:
  app:
    image: nazmulhasn/fam_sched_app:latest
    container_name: fam_sched_app
    restart: always
    env_file:
      - .env
    environment:
      - REDIS_HOST=fam_sched_redis
      - REDIS_PORT=6379
    ports:
      - '2000:2000'
      - '2005:2005' 
    depends_on:
      - redis
    command: ['node', 'dist/server.js']

  redis:
    image: redis:7.2-alpine
    container_name: fam_sched_redis
    ports:
      - 6380:6379
    volumes:
      - redis-data:/data
    restart: always
    command: ['redis-server', '--appendonly', 'yes']

volumes:
  redis-data:
